
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 0px;
    background-color: #000000;
}
#footer {
    text-align: center;
    background-color: #000000;
    padding: 20px 20px 20px 20px;
} 
