@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    src:url("../../fonts/nexonLv1-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nexonLv1";
    font-weight: 400;
    font-style: normal;
    src:url("../../fonts/nexonLv1-Regular.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv1";
    font-weight: 700;
    font-style: normal;
    src:url("../../fonts/nexonLv1-Bold.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NanumSquareL.woff2") format("woff2"),
         url("../../fonts/NanumSquareL.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NanumSquareR.woff2") format("woff2"),
         url("../../fonts/NanumSquareR.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NanumSquareB.woff2") format("woff2"),
         url("../../fonts/NanumSquareB.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NanumSquareEB.woff2") format("woff2"),
         url("../../fonts/NanumSquareEB.woff") format("woff");
    font-display: swap;
};

